:root {
    --bg-color: #fafafa;
    --text-color: #191919;
    --filter-color: invert(9%) sepia(0%) saturate(2097%) hue-rotate(62deg) brightness(118%) contrast(101%);
}

:root.theme-dark {
    --bg-color: #191919;
    --text-color: #fafafa;
    --filter-color: invert(100%) sepia(0%) saturate(7482%) hue-rotate(286deg) brightness(126%) contrast(96%);
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    outline: none;
}

html,
body,
#app {
    min-height: 100vh;
    width: 100%;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--text-color);
    background-color: var(--bg-body);
    transition: background 0.2s linear;
}

#app {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.txt-color {
    color: var(--text-color);
}

.bg-color {
    background-color: var(--bg-color);
}

.svg-color {
    filter: var(--filter-color)
}